.simulation-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 70px;
  width: 100%;
  min-height: 90vh;
  background: #fcc477;
}

.todo-panel {
  opacity: 1; /* Initial opacity is set to 0 */
  transition: width 0.4s ease-in-out, opacity 0.3s ease-in-out; /* Shorten the width transition duration */
  overflow: hidden; /* Hide content that overflows the panel */
}

.todo-panel.hidden {
  width: 0; /* When the 'hidden' class is applied, width becomes 0 */
  opacity: 0; /* Opacity remains 0 */
}
@media (max-width: 991px) {
  .simulation-container {
    flex-direction: column;
  }
}
