.solutions-container {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
}

.solution-section-white {
  background-color: whitesmoke;
}

.solution-section-orange {
  background-color: #fcc477;
}
