.login-panel-container {
  display: flex;
  justify-content: center;
  height: 85vh;
  width: 100vw;
  margin-top: 70px;
  background-color: #fcc477;
}

.login-panel {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  height: fit-content;
  max-width: 450px;
  width: 95%;
  border-radius: 10px;
  background-color: whitesmoke;
}

.login-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(25px + 0.390625vw);
  font-weight: 600;
  margin-top: 5vh;
  margin-bottom: 1vh;
}

.login-email-sign,
.login-password-sign {
  margin-top: 5vh;
  margin-left: 35px;
  margin-bottom: 5px;
  font-size: calc(12px + 0.390625vw);
  font-weight: 500;
  color: rgba(24, 24, 24, 0.7);
}
.login-email,
.login-password {
  display: flex;
  width: 100%;
  align-items: center;
}

.login-email-icon,
.login-password-icon {
  margin-left: 35px;
  height: 20px;
}

#email-input,
#password-input {
  font-size: calc(12px + 0.390625vw);
  font-weight: 500;
  height: fit-content;
  padding: 10px;
  width: 80%;
  background-color: whitesmoke;
  color: rgba(24, 24, 24, 0.7);
  border-bottom: 1px solid;
  border-color: #181818b3;
  padding-right: 35px;
}

#email-input:focus,
#password-input:focus {
  border-bottom: 2px solid;
  border-color: #fcc477;
}

/* .pass-functions {
  display: flex;
  justify-content: space-between;
} */

.passwordEye {
  margin-left: -25px;
  cursor: pointer;
}

.login-forgot-password {
  display: flex;
  justify-content: flex-end;
  margin-right: 35px;
  margin-top: 5px;
  cursor: pointer;
  font-size: calc(10px + 0.390625vw);
}

.login-button-container {
  display: flex;
  justify-content: center;
}

.login-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  width: 80%;
  padding: 15px;
  font-size: calc(20px + 0.390625vw);
  background-color: rgb(24, 24, 24);
  color: #f5f5f5;
  border-radius: 25px;
  margin-top: 3vh;
}

.login-button:hover {
  background-color: rgba(0, 0, 0, 0.65);
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.login-sign-up-container {
  display: flex;
  margin-bottom: 6vh;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
}

.login-sign-up-or {
  color: rgba(24, 24, 24, 0.7);
  font-size: calc(14px + 0.390625vw);
}

.login-sign-up {
  font-weight: 600;
  color: rgba(24, 24, 24, 0.7);
  margin-left: 5px;
  font-size: calc(14px + 0.390625vw);
  cursor: pointer;
}
