.register-panel-container {
  display: flex;
  justify-content: center;
  height: fit-content;
  width: 100vw;
  margin-top: 70px;
  background-color: #fcc477;
  padding-bottom: 2rem;
}

.register-panel {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  height: fit-content;
  max-width: 450px;
  width: 95%;
  border-radius: 10px;
  background-color: whitesmoke;
}

.register-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(25px + 0.390625vw);
  font-weight: 600;
  margin-top: 5vh;
  margin-bottom: 1vh;
}

.register-email-sign,
.register-first-name-sign,
.register-last-name-sign {
  margin-top: 5vh;
  margin-left: 35px;
  margin-bottom: 5px;
  font-size: calc(12px + 0.390625vw);
  font-weight: 500;
  color: rgba(24, 24, 24, 0.7);
}

.register-email,
.register-last-name,
.register-first-name {
  display: flex;
  width: 100%;
  align-items: center;
}

#register-email-input,
#register-lastname-input,
#register-firstname-input {
  font-size: calc(12px + 0.390625vw);
  font-weight: 500;
  height: fit-content;
  padding: 10px;
  width: 80%;
  background-color: whitesmoke;
  color: rgba(24, 24, 24, 0.7);
  border-bottom: 2px solid;
  border-color: #181818b3;
  padding-right: 35px;
}

#register-lastname-input,
#register-firstname-input {
  margin-left: 35px;
}

#register-email-input:focus,
#register-lastname-input:focus,
#register-firstname-input:focus {
  border-color: #fcc477;
}

.register-email-icon,
.register-password-icon {
  margin-left: 35px;
  height: 20px;
}

.terms-conditions-agreement {
  display: flex;
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: calc(8px + 0.390625vw);
}

#termsconditions {
  margin-left: 35px;
}

.termsconditions-text {
  display: flex;
  width: 70%;
  margin-left: 15px;
}

.register-button-container {
  display: flex;
  justify-content: center;
}
.register-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  width: 80%;
  padding: 15px;
  font-size: calc(20px + 0.390625vw);
  background-color: rgb(24, 24, 24);
  color: #f5f5f5;
  border-radius: 25px;
  margin-top: 10px;
  margin-bottom: 2vh;
}

.register-button:hover {
  background-color: rgba(0, 0, 0, 0.65);
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.login-sign-up-container-reg {
  display: flex;
  margin-bottom: 2vh;
  justify-content: center;
  align-items: center;
}
