.pricing-title-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.pricing-title {

    font-weight: bolder;
    font-size: calc(55px + 0.390625vw);
    margin-top: 7vh;
    margin-bottom: 5vh;

}

.pricing-title-description {
    font-size: calc(20px + 0.390625vw);
    margin-bottom: 5vh;
    margin-right: 12vw;
    margin-left: 12vw;
}
.pricing-title-plan {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5vh;
    
}
.plan-button {
    margin-left: 2vw;
    margin-right: 2vw;
    font-size: calc(16px + 0.390625vw);
    min-width: 20vw;
    min-height: 7vh;
    border-radius: 25px;
    background-color: rgb(252, 196, 119);
    color: rgb(24, 24, 24);
    padding: 18px;
    padding-bottom: 20px;
}

.plan-button:hover {
    background-color: rgba(251, 195, 119, 0.85);
    transition: background-color 0.3s ease;
}

.individual-plan.active,
.enterprise-plan.active {
    background-color: rgb(24, 24, 24);
    color: #f5f5f5;
}

.pricing-panel-section {
    display: flex;
    justify-content: center;
  }
  
.pricing-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 0 auto;
  margin: 0 0.5vw;
  width: 320px;
  padding-top: 2vh;
}

.pricing-panel-title {
    font-size: calc(20px + 0.390625vw);
    font-weight: 500;
    margin-bottom: 3vh;
    padding: 20px 20px;
    display: flex;
    justify-content: left;
    width: 100%;
}

.training-title,
.comprehensive-title {
    background-color: #fcc477;
    
    
}


.training,
.comprehensive {

    border-style: solid;
    border-width: thin;
    border-radius: 15px;
    border-color: #fcc477;
}

.certification {
    background-color: #fcc477;
    border-style: solid;
    border-width: thin;
    border-radius: 15px;
    border-color: #f5f5f5;

}

.certification-title {
    background-color: #f5f5f5;

}

.pricing-panel-price {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
    font-size: calc(50px + 0.390625vw);
    font-weight: 600;
}

.pricing-panel-description {
    display: flex;
    justify-content: center;
    align-items: center;
}

.enterpriseEntry {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    margin-bottom: 3vh;
    margin-left: auto;
    margin-right: auto;
    font-size: calc(16px + 0.390625vw);
    
    border-style: solid;
    border-width: thin;
    border-radius: 25px;
    padding: 10px;
    border-color: #fcc477;
    background: #fcc477;
    color: #181818;
    
    max-width: fit-content;
    
}


#numberInput {
    margin-top: 2vh;
    font-size: calc(16px + 0.390625vw);
    border-style: solid;
    border-width: thin;
    border-color: #181818;
    padding:5px;
    border-radius: 25px;
    height: 8vh;
    width: 8vw;
    
}

.pricing-panel-description {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    font-size: calc(15px + 0.390625vw);
}

.horizontalLine {
    width: 75%;
    height: 1px;
    background-color: #fcc477;
    margin-top: 4vh;
    margin-bottom: 4vh;
}

.horizontalLine-whites{
    
    width: 75%;
    height: 1px;
    background-color: #f5f5f5;
    margin-top: 4vh;
    margin-bottom: 4vh;
}

.pricing-panel-bulletpoints {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(15px + 0.390625vw);
    font-weight: 450;
    margin-bottom: 5vh;
    max-width: 80%;

}
.pricing-panel-bulletpoints ul {
    padding-inline-start: 20px;
    margin: 0;
}

.price-action-button {

    font-size: calc(15px + 0.390625vw);
    font-weight: bold;
    background-color: rgb(24, 24, 24);
    color: #f5f5f5;
    border-radius: 20px;
    margin-top: 4vh;
    padding: 15px;
    width: 200px;
}

.price-action-button:hover {
    background-color: rgba(0,0,0, 0.65);
    transition: background-color 0.3s ease;
}



@media (max-width: 991px) {
    .pricing-panel-section {
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    
      .pricing-panel {
        margin-bottom: 2vh;
        width: 70vw;
        padding-top: 2vh;
      }

      #numberInput {
        width: 30vw;
      }

}