.answer-background {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  padding-top: 100px;
  padding-bottom: 100px;
  height: 100%;
  width: 100%;
  background: #fcc477;
}

.answer-panel {
  display: flex;
  flex-direction: column;
  height: 75vh;
  width: 85vw;
  background: whitesmoke;
  border-radius: 25px;
}

.answer-title,
.legitimacy-answer {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  font-size: calc(18px + 0.390625vw);
  color: rgb(24, 24, 24);
  font-weight: 500;
}

.listedSigns {
  display: flex;
  justify-content: center;
  margin-top: 5vh;
  font-size: calc(15px + 0.390625vw);
  color: rgb(24, 24, 24);
}
