.simulation-panel {
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
  width: 70vw;
  height: fit-content;
  background: whitesmoke;
  border-radius: 20px;
}

.email-topbar {
  width: 100%;
  height: fit-content;
  background: #484444;
  border-radius: 20px 20px 0 0;
  margin-bottom: 4vh;
}

.topbar-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: #f5f5f5;
  margin-left: 1vw;
  margin-top: 1.5vh;
  margin-bottom: 1.5vh;
  overflow-x: auto;
}

.topbar-container > * {
  margin-right: 2vw;
}

.mail-body {
  margin-left: 2vw;
  margin-right: 2vw;
  display: flex;
  flex-direction: column;
}

.mail-head {
  display: flex;
  justify-content: space-between;
}

.mail-options {
  display: flex;
  margin-right: 5vw;
}

.more-actions-button {
  margin-left: 2vw;
}

.icon img,
.icon svg,
.profile-icon {
  width: calc(25px + 0.390625vw);
  height: calc(25px + 0.390625vh);
}

.small-line {
  height: 5vh;
  width: 2px;
  background: #f5f5f5;
}

.flag-click {
  border-radius: 50%;
  padding: 10px;
  background: #f5f5f5;
}

.flag-click:hover,
.more-click:hover {
  background-color: rgba(189, 189, 189, 0.2);
  transition: background-color 0.3s ease;
}

.more-click {
  border-radius: 50%;
  padding: 10px;
  background: whitesmoke;
}

.giveup-click,
.legitimate-click,
.malicious-click,
.report-click,
.delete-click,
.reply-click,
.forward-click {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 5px;
  background: #1818181a;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  margin: 0;
}
.delete-click {
  padding-left: 16%;
}

.giveup-click:hover,
.legitimate-click:hover,
.malicious-click:hover,
.report-click:hover,
.delete-click:hover,
.reply-click:hover,
.forward-click:hover {
  background-color: rgba(189, 189, 189, 0.2);
  transition: background-color 0.3s ease;
}

.flag-click,
.more-click {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flag-click .tooltiptext-flag,
.more-click .tooltiptext-more {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 15px;
  font-size: calc(8px + 0.390625vw);
  font-weight: bold;
  margin-top: 85px;
  overflow-x: scroll;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  width: fit-content;
  height: fit-content;
}

.giveup-click .tooltiptext-giveup,
.legitimate-click .tooltiptext-legitimate,
.malicious-click .tooltiptext-malicious,
.report-click .tooltiptext-report,
.delete-click .tooltiptext-delete,
.reply-click .tooltiptext-reply,
.forward-click .tooltiptext-forward {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 15px;
  font-size: calc(8px + 0.390625vw);
  font-weight: bold;
  margin-top: 75px;
  white-space: nowrap; /* Prevent tooltip text from wrapping */

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  width: fit-content;
  height: fit-content;
}

.giveup-click:hover .tooltiptext-giveup,
.legitimate-click:hover .tooltiptext-legitimate,
.malicious-click:hover .tooltiptext-malicious,
.report-click:hover .tooltiptext-report,
.delete-click:hover .tooltiptext-delete,
.reply-click:hover .tooltiptext-reply,
.forward-click:hover .tooltiptext-forward,
.flag-click:hover .tooltiptext-flag,
.more-click:hover .tooltiptext-more {
  visibility: visible;
}

.giveup-click {
  margin-left: 1vw;
}

.svg-icon {
  fill: #1ed44b;
}

.mail-subject {
  font-size: calc(20px + 0.390625vw);
  font-weight: 450;
  margin-bottom: 2vh;
}

.sender-identity {
  display: flex;
  align-items: center;
}

.sender-name {
  font-size: calc(16px + 0.390625vw);
  margin-bottom: 1vh;
  font-weight: bold;
  margin-left: 1vw;
}

.profile-icon {
  min-width: 3vw;
  margin-bottom: 1vh;
}

.reciever-identity {
  margin-bottom: 2vh;
}

.reply-click.bottom {
  margin-right: 1vw;
}

.reply-click.bottom,
.forward-click.bottom {
  background: rgba(24, 24, 24, 0.8);
  width: 60px;
  height: 60px;
  margin-bottom: 3vh;
}

.reply-click.bottom:hover,
.forward-click.bottom:hover {
  background-color: rgba(80, 77, 77, 0.9);
  transition: background-color 0.3s ease;
}

.mail-foot {
  display: flex;
  align-items: center;
  margin-top: 3vh;
  justify-content: space-between;
}

.mail-foot-separator {
  display: flex;
}

.attachment-content {
  margin-top: 5px;
  display: flex;
  border-style: solid;
  border-radius: 5px;
  border-color: #484444;
  border-width: thin;
  width: fit-content;
  height: fit-content;
  padding: 15px;
}

.attachment-content:hover {
  background-color: rgba(80, 77, 77, 0.2);
  transition: background-color 0.3s ease;
}

.attachment-filename {
  margin-left: 10px;
  margin-right: 10px;
}

.literal-email {
  height: 100%;
  overflow-y: auto;
  overflow-x: initial;
  margin-top: 2vh;
  border-style: solid;
  border-width: thin;
  border-radius: 25px;
  width: 100%;
}

.read-container {
  padding: 10px;
  max-height: 60vh;
  font-size: (16px + 0.390625vw);
}

@media (max-width: 991px) {
  .simulation-panel {
    width: 96vw;
  }

  .topbar-container {
    overflow-x: scroll;
  }

  .icon img,
  .icon svg,
  .profile-icon {
    height: 30px;
    width: 30px;
  }
}
