.simulation-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top:70px;
    width: 100%;
    min-height: 90vh;
    background:#fcc477;
}

.simulation-panel {

    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    width: 70vw;
    height: fit-content;
    background: whitesmoke;
    border-radius: 20px;
}

.todo-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
    height: 80vh;
    background: whitesmoke;
    border-radius: 20px;
}

.email-topbar {

    width: 100%;
    height: fit-content;
    background: rgba(24, 24, 24, 0.8);
    border-radius: 20px 20px 0 0;
    margin-bottom: 4vh;

}

.topbar-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: #f5f5f5;
    margin-left: 1vw;
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
}

.topbar-container > * {
    margin-right: 2vw;
}

.mail-body {
    margin-left: 2vw;
    margin-right: 2vw;
    display: flex;
    flex-direction: column;
}

.mail-head {
    display: flex;
    justify-content: space-between;
}

.mail-identity {
    display: flex;
    flex-direction: column;
}

.mail-options {
    display: flex;
    margin-right: 5vw;
}

.more-actions-button {
    margin-left: 2vw;
}


.icon img {
    width: 3vw;
    height: 3vh;
}

.small-line {
    height: 5vh;
    width: 2px;
    background: #f5f5f5;
}

.flag-click {
    border-radius: 50%;
    padding: 10px;
    background: whitesmoke;

}

.flag-click:hover,
.more-click:hover {
    background-color: rgba(189, 189, 189, 0.2);
    transition: background-color 0.3s ease;
}

.more-click {
    border-radius: 50%;
    padding: 10px;
    background: whitesmoke;
}

.giveup-click,
.legitimate-click,
.malicious-click,
.report-click,
.delete-click,
.reply-click,
.forward-click {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 5px;
    background: rgba(24, 24, 24, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
    margin: 0;
}
.delete-click{
    padding-left: 16%;
}

.giveup-click:hover,
.legitimate-click:hover,
.malicious-click:hover,
.report-click:hover,
.delete-click:hover,
.reply-click:hover,
.forward-click:hover {
    background-color: rgba(189, 189, 189, 0.2);
    transition: background-color 0.3s ease;
}

.svg-icon {
    fill: #1ED44B;
  }

.mail-subject {
    font-size: calc(20px + 0.390625vw);
    font-weight: 450;
    margin-bottom: 2vh;
}

.sender-identity {
    display: flex;
    align-items: center;
}


.sender-name{
    font-size: calc(16px + 0.390625vw);
    margin-bottom: 1vh;
    font-weight: bold;
    margin-left: 1vw;
}

.profile-icon {
    min-width:3vw;
    margin-bottom: 1vh;
}

.reciever-identity {
    margin-bottom: 2vh;
}

.reply-click.bottom {
    margin-right: 1vw;
}

.reply-click.bottom,
.forward-click.bottom {
    background: rgba(24, 24, 24, 0.8);
    width: 60px;
    height: 60px;
    margin-bottom: 5vh;
}

.reply-click.bottom:hover,
.forward-click.bottom:hover {
    background-color: rgba(80, 77, 77, 0.9);
    transition: background-color 0.3s ease;
}

.mail-foot {
    display: flex;
    align-items: center;
    margin-top: 3vh;

}


.literal-email {
    height: 100%;
    overflow-y: auto;
    margin-top: 2vh;
    border-style: solid;
    border-width: thin;
    border-radius: 25px;
  }
  
  .read-container {
    padding: 10px;
    max-height: 60vh;
    font-size: (16px + 0.390625vw); 
  }
