.todo-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 20vw;
  height: 80vh;
  background: whitesmoke;
  border-radius: 25px;
  border-style: solid;
  border-width: thick;
  user-select: none;
  border-color: #484444;
}

.todo-ranking-panel,
.todo-list-panel {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
  background-color: whitesmoke;
  border-radius: 25px;
}

.horizontalLineTodo {
  width: 75%;
  height: 2px;
  background-color: rgb(24, 24, 24);
  z-index: 1;
  margin-bottom: -0.1vh;
  margin-top: -1vh;
}

.todo-placing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 90%;
  width: 95%;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.panel-button {
  text-align: center;
  font-size: calc(15px + 0.390625vw);
  background-color: rgb(24, 24, 24);
  cursor: pointer;
}

.panel-button:hover {
  background-color: rgba(0, 0, 0, 0.65);
  transition: background-color 0.3s ease;
}

.todo-placing > * {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  margin-bottom: 1vh;
  height: 100%;
  width: 100%;

  color: whitesmoke;
}

.simText-container {
  display: flex;
  justify-content: space-between;
  border-radius: 25px;
  margin-bottom: 1vh;
  background-color: #484444;
  user-select: none;
}

.action-remove {
  margin-right: 2vw;
  width: 80px;
  padding-left: 10px;
  padding-right: 40px;
  margin-right: 0px;
  cursor: pointer;
  border-left-style: solid;
  border-width: thin;
  border-color: #3b3939;
  height: 100%;
}

.action-index {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 10%;
  height: 100%;
  width: 100%;
  padding-left: 1vw;
  padding-right: 1vw;
  border-radius: 25px 0px 0px 25px;
  font-weight: bold;
  background-color: rgb(24, 24, 24);
}

.action-place {
  flex-basis: 90%;
  margin-right: 2vw;
  margin-left: 1vw;
}

.todo-rankingpanel-top {
  font-size: larger;
  height: 6vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.invisible-placeholder {
  visibility: hidden;
}

.todo-listingpanel-top {
  font-size: larger;
  height: 6vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 991px) {
  .todo-panel {
    margin-top: 2vh;
    margin-bottom: 5vh;
    height: fit-content;
    width: 90vw;
  }

  .todo-placing > * {
    height: 6vh;
  }
}
