.footer-section {
  display: flex;
  flex-direction: column;
  background: #fcc477;
}

.footer-forms {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10vh;
  margin-bottom: 2vh;
}

.footer-policies {
  margin-left: 10vw;
  margin-right: 10vw;
}

.footer-title {
  font-size: calc(8px + 0.390625vw);
}

.footer-links {
  display: flex;
  flex-direction: row;
  font-size: calc(8px + 0.390625vw);
}

.linkedin,
.facebook {
  width: 30px;
  height: auto;
  margin: 10px;
  cursor: pointer;
}

@media (max-width: 991px) {
  .footer-forms {
    flex-direction: column;
  }
  .footer-policies {
    margin: 0;
    text-align: center;
  }

  .footer-links {
    margin-right: 4vw;
    justify-content: flex-end;
  }
}
